<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <appender name="STDOUT"  class="ch.qos.logback.core.ConsoleAppender">
      <!-- encoders are assigned the type  ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
  	<encoder>
    	<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %lo{35} - %msg%n</pattern>
  	</encoder>
   </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>logs/mylog.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>logs/logFile.%d{yyyy-MM-dd}.log</FileNamePattern>
    </rollingPolicy>
     <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
    	<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %lo{35} - %msg%n</pattern>
  	</encoder>
  </appender>
  <!-- Notice the %file and %line patterns in the Pattern. -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%date %-5level [%property{xaddr}] [%thread] [%file:%line] %logger - %message%n</Pattern>
    </layout>
  </appender>
  <appender name="REMOTE" class="zcu.xutil.misc.RemoteAppender">
    <httpmode>false</httpmode>
    <includeCallerData>false</includeCallerData>
  </appender>

  <root>
    <level value="info" />
    <appender-ref ref="STDOUT"/>
  </root>

  <logger name="zcu.xutil">
     <level value="debug"/>
     <appender-ref ref="FILE"/>
  </logger>
  <logger name="remote" additivity="false">
     <level value="debug"/>
     <appender-ref ref="REMOTE"/>
  </logger>
  
  <logger name="loggerfor">
     <level value="debug"/>
     <appender-ref ref="CONSOLE"/>
  </logger>

</configuration>